<div id="page-content" style="margin-top: 50px; padding: 2em">
  <h1>Thanks and See You Soon!</h1>

  <p>Expect invitations around Valentine's Day.</p>

  <%= link_to "Back to the main page",  root_path %>
</div>
