<div class="section section-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="media media-about wow fadeInRight">
          <div class="media-body text-right">
            <div class="title">The Groom</div>
            <h2 class="media-heading">Steven Harms</h2>
            <p>"Before we met I thought 'this guy is out of my league,' but wanted to go for it and meet him anyway. When I first saw Steven, 12 years ago, I thought to myself, 'where is his wife.' There exists nobody more caring, tender, intelligent, or more prone to weird, wacky and interesting conversation than Steven. He is patient and curious, and my favorite companion in life." -- Lauren</p>
          </div>
          <div class="media-right">
            <img class="media-object" src="<%= asset_path('groom.jpg') %>" alt="...">
          </div>
        </div><!-- media -->
      </div><!-- col 6 -->
      <div class="col-md-6">
        <div class="media media-about wow fadeInLeft">
          <div class="media-left">
            <img class="media-object" src="<%= asset_path('bride.jpg') %>" alt="...">
          </div>
          <div class="media-body">
            <div class="title">The Bride</div>
            <h2 class="media-heading">Lauren Roth</h2>
            <p>The first time I ever saw her I was struck by the white-hot
            California sun making her hair shine like a halo. She's been my
            golden vision ever since. Brilliant, funny, sweet, vulnerable,
            patient and tender &mdash; she's truly a gift to my life.</p>
          </div>
        </div><!-- media -->
      </div><!-- col 6 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- section -->

