<form id="rsvpForm" class="form wow fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" name="guestName" id="guestName" class="form-control" placeholder="Your name *">
      </div>
    </div><!-- col 6 -->
    <div class="col-md-6">
      <div class="form-group">
        <input type="email" name="guestEmail" id="guestEmail" class="form-control" placeholder="Your email *">
      </div>
    </div><!-- col 6 -->
    <div class="col-md-12">
      <div class="form-group">
        <textarea name="guestAddress" id="guestAddress" class="form-control" placeholder="Your address *"></textarea>
      </div>
    </div><!-- col 12 -->
    <div class="col-md-12">
      <div class="form-group">
        <textarea name="guestMessage" id="guestMessage" class="form-control" placeholder="Your message *"></textarea>
      </div>
    </div><!-- col 12 -->
    <div class="col-md-12">
      <div id="submitMessage"></div>
    </div>
    <div class="col-md-12 text-center">
      <a href="javascript:void(0)" id="rsvp-form-submit" class="btn btn-lg btn-primary">I am attending</a>
    </div>
  </div><!-- row -->
</form>

