  <div class="section section-dates parallax-window" id="ceremony" data-parallax="scroll">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="dates-info wow fadeIn">
            <div class="ceremony">Wedding</div>
            <div class="location">Peristyle, New Orleans, LA</div>
            <div class="day-month">21 April 2018</div>
            <div class="year">2018</div>
            <div class="time">5:00PM</div>
          </div><!-- dates info -->
        </div><!-- col 6 -->
        <div class="col-md-6 col-sm-6">
          <div class="dates-info wow fadeIn">
            <div class="ceremony">Reception</div>
            <div class="location">Cabildo, New Orleans, LA</div>
            <div class="day-month">21 April 2018</div>
            <div class="year">2018</div>
            <div class="time">6:30PM</div>
          </div><!-- dates info -->
        </div><!-- col 6 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- section-dates -->

