<div class="section section-parents">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="parents text-center wow fadeIn">
          <div class="title">Parents of the Bride</div>
          <h3>Susan Roth and<br> Robert Roth</h3>
        </div><!-- parents -->
      </div><!-- col 4 -->
      <div class="col-md-6 col-sm-6">
        <div class="parents text-center wow fadeIn">
          <div class="title">Parents of the Groom</div>
          <h3>Dana Kelley and<br> Greg Harms</h3>
        </div><!-- parents -->
      </div><!-- col 4 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- section parents -->
