<header id="peristyle">
  <div class="overlay"></div>
  <div class="container">
    <div class="intro-content">
      <div class="edgt_elements_item_content edgt_elements_inner_1875079524">

<div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
        <h4 class="cat_serv"><span>New Orleans, LA</span></h4>

    </div>
</div>

<div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
        <h4 class="wekeepit_smpl">Wedding of</h4>
        <h4 class="hmtxt_perfection hd_perf">Lauren &amp; Steven</h4>
        <h4 class="hmtxt_only hd_only">2018.04.21</h4>
    </div>
</div> </div>
    </div><!-- intro-content -->
  </div><!-- container -->
</header>

