<div class="section section-gift" id="registries">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center wow fadeInDown">Gift registries</h1>
        <div class="sub-title text-center wow fadeInDown">The most important gift to us is to have you share our day.</div>
        <p class="text-center wow fadeIn">If you do wish to buy us a gift you can check out the registry lists below.</p>
      </div><!-- col-12 -->
      <div class="gift-partner">
        <div class="col-md-4 col-sm-4 col-xs-6 wow fadeInUp">
          <a href="#"><img src="<%= asset_path('amazon.png')%>" class="img-responsive"></a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 wow fadeInDown">
          <a href="#"><img src="<%= asset_path('zola.png')%>" class="img-responsive"></a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
          <a href="#"><img src="<%= asset_path('surlatable.png')%>" class="img-responsive"></a>
        </div>
      </div><!-- gift partner -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- section-gift -->
