<div class="section section-rspv" id="rsvp" style='background-image: url("<%= asset_path('pw_maze_white.png') %>");'>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center wow fadeInDown">Are you attending?</h1>
        <div class="sub-title text-center wow fadeInDown">We look forword to seeing you April 21, 2018</div>
        <%= render "address_registration_form" %>
      </div>
    </div>
  </div>
</div><!-- section-rspv -->

