<div class="section section-story" id="story">
  <div class="container">
    <h1 class="text-center wow fadeInDown">Our Story</h1>
    <div class="sub-title text-center wow fadeInDown">The Fog Hides All, The Fog Revealed All</div>
    <p class="text-center wow fadeIn">
    Locals know that the foggiest time of the year in the Bay is the summer. It was an August day when I went with Lauren on her first visit to the sights of San Francisco. She said she'd never walked the Golden Gate Bridge and I hadn't either. We maxxed out the parking meter and started on the walk to Marin on a foggy day. The fog-horns blared and somewhere around the first pylon I could no longer see San Francisco, nor could I see Marin. But I knew that my life would be very different when I reached either one of those ends. It was an unshakable moment where I knew my life was fated to be different.
    </p>
  </div><!-- container -->
</div><!-- section-story -->
