<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Lauren & Steven</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rsvp">RSVP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Location</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#registry">Registry</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="peristyle" class="intro-section parallax">
        <div class="container">
          <img id="marquee" src="<%= asset_path('marquee.svg') %>"/>

        </div>
    </section>

    <!-- About Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-scroll-reveal="enter after 0.3s" data-sr-id="1" style="-webkit-transform: translateundefined(0);transform: translateundefined(0);opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-out 0.3s,  opacity 0.5s ease-out 0.3s;transition: transform 0.5s ease-out 0.3s, opacity 0.5s ease-out 0.3s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-sr-initialized="true">
                            <h3>On the 21st of April, 2018 <br> <strong>Lauren Nicole Roth &amp; Steven Gregory Harms</strong> <br>
will wed in New Orleans, LA</h3>
<img src="/assets/knot.png" id="knot" width="100" data-pin-nopin="true">
                        </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="timeline" class="timeline-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Timeline of our relationship</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="our-story" class="our-story-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Our Story</h1>
                </div>
            </div>
        </div>
    </section>
</body>