<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<script>
    $.firefly({
        total:    50,   // anything over a few hundred is gonna crawl
        boundary: 20,  // avoid the edge of the window
        fast:     0.5,    // fastest spark (a lower number is faster)
    });
</script>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top transparent-black" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rsvp">Timeline</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Engagement</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#registry">Wedding Details</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#registry">Accomodations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#registry">RSVP</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="peristyle" class="intro-section parallax">
    <!--     <div class="container">
            <div class="bs-docs-example">
    <section class="sample" id="nietzsche">
    <section class="text">
        <h1><span>Wedding Of<br></span> Lauren <span class="kern">&</span> Steven</h1>
        <h2><span>2018-04-21</span></h2>

    </section>
</div> -->
<div class="edgt_elements_item_content edgt_elements_inner_1875079524" style="text-align:center;">
    <!--<div class="separator hmpg_wekeepit_septop transparent center  " style="margin-bottom:0px"></div> -->

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h4 class="cat_serv"><span>New Orleans, LA</span></h4>

        </div>
    </div>

    <!-- <div class="separator  small center  " style="border-color: #ffffff;margin-top:10px;margin-bottom:29px;border-style: solid"></div> -->

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h4 class="wekeepit_smpl">Wedding of</h4>
<h4 class="hmtxt_perfection hd_perf">Lauren &amp; Steven</h4>
<h4 class="hmtxt_only hd_only">2018.04.21</h4>

        </div>
    </div> </div>
    </section>

    <section id="timeline">
        <div class="container">
            <div class="row">
                <h2>Our Story Began With...</h2>
                <ul class="timeline">
                <li>
                  <div class="timeline-badge"><i class="glyphicon glyphicon-heart""></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">2005</h4>
                    </div>
                    <div class="timeline-body">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS3rlY6sf6dayi4T9iDizkTEzWvAg4ZT-rFWp66vLMlDMt6dkfbg"/>
                      <p>Bridge day. Romantic date in 2005 with crepes in San Francisco and a walk across the golden gate bridge.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge warning"><i class="glyphicon glyphicon-home"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">2005</h4>
                    </div>
                    <div class="timeline-body">
                        <img src="http://www.freeiconspng.com/uploads/apartment-icon-19.png" width="100"/>
                      <p>First apartment together in Sunnyvale, CA as proper Silicon Valley types: Lauren working at Google, Steven at Cisco.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge danger"><i class="glyphicon glyphicon-road"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">2006</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Move to Austin on May 26th long drive from SF</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. </p>
                      <hr>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                          <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. </p>
                    </div>
                  </div>
                </li>
            </ul>
            </div>
        </div>

    </section>

    <footer><!--<a data-scroll href="#coming-soon" id="go-top" class="btn btn-round notification" data-scroll-reveal="enter bottom move 35px, after 0.6s">
<i class="fa fa-caret-up fa-2x"></i>
</a> --></footer>
</body>
