// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#peristyle {
    /* The image used */
    background-image: url("/assets/peristyle.jpg");

    /* Set a specific height */
    height: 700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#marquee {
  min-width: 200px;
  width: 40%;
  vertical-height: center;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    color: white;
}