<!DOCTYPE html>
<html>
  <head>
    <title>Lauren & Steven Are Getting Married 4.21.2018</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' id='tp-great-vibes-css'  href='http://fonts.googleapis.com/css?family=Great+Vibes&#038;ver=4.3.11' type='text/css' media='all' />
    <link rel='stylesheet' id='tp-great-vibes-css'  href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed&#038;ver=4.3.11' type='text/css' media='all' />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
