<!DOCTYPE html>
<html>
  <head>
    <title>Lauren & Steven Are Getting Married 4.21.2018</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' id='tp-great-vibes-css'  href='http://fonts.googleapis.com/css?family=Great+Vibes&#038;ver=4.3.11' type='text/css' media='all' />
    <link rel='stylesheet' id='tp-great-vibes-css'  href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed&#038;ver=4.3.11' type='text/css' media='all' />
    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="assets/plugins/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/plugins/gallery-2.21.3/css/blueimp-gallery.min.css" rel="stylesheet">
    <link href="assets/plugins/animate.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
